.contacts-main {
  padding-bottom: 208px;
  position: relative;
}
@media (max-width: 980px) {
  .contacts-main {
    padding-bottom: 130px;
  }
}
@media (max-width: 768px) {
  .contacts-main {
    padding-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .contacts-main {
    padding-bottom: 80px;
  }
}
.contacts-main:before {
  content: "";
  background-image: url(../img/contacts/before-elem.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 250px;
  height: 207.1px;
}
@media (max-width: 980px) {
  .contacts-main:before {
    width: 205px;
    height: 166.37px;
    bottom: 66px;
    left: -3px;
  }
}
@media (max-width: 768px) {
  .contacts-main:before {
    width: 178px;
    height: 142.9px;
    bottom: 44px;
  }
}
@media (max-width: 480px) {
  .contacts-main:before {
    display: none;
  }
}
.contacts-main::after {
  content: "";
  background-image: url(../img/contacts/before-elem2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -200px;
  width: 265px;
  height: 328.67px;
}
@media (max-width: 980px) {
  .contacts-main::after {
    width: 185px;
    height: 253.87px;
    top: -150px;
  }
}
@media (max-width: 768px) {
  .contacts-main::after {
    width: 131px;
    height: 200.6px;
    top: -100px;
  }
}
@media (max-width: 480px) {
  .contacts-main::after {
    display: none;
  }
}
.contacts-main__content {
  position: relative;
  z-index: 2;
}
.contacts-main__top {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 110px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 980px) {
  .contacts-main__top {
    grid-column-gap: 80px;
  }
}
@media (max-width: 768px) {
  .contacts-main__top {
    grid-column-gap: 43px;
  }
}
@media (max-width: 480px) {
  .contacts-main__top {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 60px;
  }
}
@media (max-width: 320px) {
  .contacts-main__top {
    grid-row-gap: 50px;
  }
}
.contacts-main__title {
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 20px;
}
@media (max-width: 980px) {
  .contacts-main__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .contacts-main__title {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .contacts-main__title {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .contacts-main__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.contacts-main__elem a {
  display: block;
  padding-left: 40px;
  font-size: 18px;
}
@media (max-width: 980px) {
  .contacts-main__elem a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .contacts-main__elem a {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .contacts-main__elem a {
    display: inline-block;
  }
}
.contacts-main__elem a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts-main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 65px;
}
@media (max-width: 480px) {
  .contacts-main__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.contacts-main__bottom .contacts-main__title {
  margin: 0;
  margin-right: 40px;
  white-space: nowrap;
}
@media (max-width: 980px) {
  .contacts-main__bottom .contacts-main__title {
    margin-right: 80px;
  }
}
@media (max-width: 768px) {
  .contacts-main__bottom .contacts-main__title {
    margin-right: 50px;
  }
}
@media (max-width: 480px) {
  .contacts-main__bottom .contacts-main__title {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.contacts-main__phone {
  display: block;
  margin-bottom: 15px;
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #000000;
  position: relative;
}
.contacts-main__phone:last-child {
  margin-bottom: 0;
}
.contacts-main__phone:before {
  background-image: url(../img/phone.svg);
}
.contacts-main__locate {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
  position: relative;
}
.contacts-main__locate:before {
  background-image: url(../img/location.svg);
}
.contacts-main__date {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
  position: relative;
}
.contacts-main__date:before {
  background-image: url(../img/date.svg);
}
.contacts-main__grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 40px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 980px) {
  .contacts-main__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 30px;
  }
}
@media (max-width: 768px) {
  .contacts-main__grid {
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }
}
@media (max-width: 480px) {
  .contacts-main__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
  }
}
.contacts-main__grid p {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 768px) {
  .contacts-main__grid p {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .contacts-main__grid p {
    font-size: 14px;
    text-align: center;
    max-width: 360px;
  }
}