.btn {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.btn:hover {
  opacity: 0.8;
}
.btn_orange-grad {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#FF6939), color-stop(51.34%, #FB6434), color-stop(61.98%, #F78866), color-stop(72.02%, #F15828), to(#E94F1E));
  background: -o-linear-gradient(left, #FF6939 0%, #FB6434 51.34%, #F78866 61.98%, #F15828 72.02%, #E94F1E 100%);
  background: linear-gradient(90deg, #FF6939 0%, #FB6434 51.34%, #F78866 61.98%, #F15828 72.02%, #E94F1E 100%);
  border-radius: 10px;
}
.btn_orange {
  background: -webkit-gradient(linear, left top, right top, from(#FF6939), to(#E94F1E));
  background: -o-linear-gradient(left, #FF6939 0%, #E94F1E 100%);
  background: linear-gradient(90deg, #FF6939 0%, #E94F1E 100%);
  border-radius: 10px;
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 11px 24px;
}
@media (max-width: 980px) {
  .btn_orange {
    font-size: 12px;
    padding: 10px 13px;
  }
}
.btn_orange-shadow {
  -webkit-box-shadow: 0px 0px 20px rgba(199, 76, 37, 0.5);
  box-shadow: 0px 0px 20px rgba(199, 76, 37, 0.5);
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0;
}
@media (max-width: 980px) {
  .btn_orange-shadow {
    font-size: 12px;
  }
}
.btn_trans {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 11px 30px;
}
@media (max-width: 980px) {
  .btn_trans {
    font-size: 12px;
    white-space: nowrap;
  }
}