.logo {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-big {
  background-image: url(../img/logo-big.png);
}