@media (max-width: 768px) {
  .nav {
    overflow-y: scroll;
    height: 100vh;
  }
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 100px 30px 0;
  }
}
.nav__elem {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0 25px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 980px) {
  .nav__elem {
    font-size: 13px;
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  .nav__elem {
    font-size: 18px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
}
@media (max-width: 480px) {
  .nav__elem {
    margin: 0;
  }
}
.nav__elem:hover {
  opacity: 0.8;
}
.nav__elem_drop:before {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-nav.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 9px;
  height: 4.5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -16px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .nav__elem_drop:before {
    width: 16px;
    height: 8px;
    right: initial;
    left: -30px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}
.nav__elem_drop.active:before {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.nav__drop {
  position: absolute;
  background-color: #FFFFFF;
  padding: 20px 10px 15px;
  width: 100%;
  left: 0;
  top: 70px;
  border-top: 2px solid #E94F1E;
  display: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 980px) {
  .nav__drop {
    top: 59px;
    border: none;
  }
}
@media (max-width: 768px) {
  .nav__drop {
    position: relative;
    top: 10px;
    background-color: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
    margin-bottom: 20px;
  }
}
.nav__drop.active {
  display: block;
}
.nav__drop-btn {
  width: 143px;
  height: 34px;
  margin-bottom: 5px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .nav__drop-btn {
    margin-left: auto;
    width: 241px;
    height: 34px;
  }
}
@media (max-width: 480px) {
  .nav__drop-btn {
    display: none;
  }
}
.nav__drop-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
}
@media (max-width: 980px) {
  .nav__drop-content {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .nav__drop-content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .nav__drop-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
.nav__drop-elem {
  position: relative;
  padding: 15px 20px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 480px) {
  .nav__drop-elem {
    padding: 0;
  }
}
.nav__drop-link {
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #000000;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  max-width: 191px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .nav__drop-link {
    color: white;
    border-color: white;
  }
}
@media (max-width: 480px) {
  .nav__drop-link {
    font-weight: normal;
    font-size: 14px;
    max-width: initial;
    border: none;
    text-align: right;
  }
}
.nav__drop-link:hover {
  opacity: 0.8;
}
.nav__drop-link_child {
  margin-top: 10px;
  display: block;
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
  .nav__drop-link_child {
    color: white;
  }
}
@media (max-width: 480px) {
  .nav__drop-link_child {
    display: none;
  }
}
.nav__drop-elem_fav {
  background: #38B5DF;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .nav__drop-elem_fav {
    background-color: transparent;
  }
}
.nav__drop-elem_fav:before {
  content: "";
  position: absolute;
  right: 12px;
  top: 10px;
  background-image: url(../img/star.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
@media (max-width: 480px) {
  .nav__drop-elem_fav:before {
    content: none;
  }
}
.nav__drop-elem_fav a {
  color: white;
  border-color: white;
}
.nav__drop-img {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 132px;
}
@media (max-width: 480px) {
  .nav__drop-img {
    display: none;
  }
}