.popup {
  padding: 0;
  background: #FFFFFF;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 133px;
}
@media (max-width: 480px) {
  .popup {
    max-width: 100vw;
    padding: 0 20px;
  }
}
.popup__title {
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 20px;
}
.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.popup__form input {
  width: 100%;
  background: #FFFFFF;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 15px;
}
.popup__form input::-webkit-input-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form input::-moz-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form input:-ms-input-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form input::-ms-input-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form input::placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form .iti {
  width: 100%;
  margin-bottom: 20px;
}
.popup__form textarea {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  outline: none;
  resize: none;
  height: 180px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: none;
}
.popup__form textarea::-webkit-input-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form textarea::-moz-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form textarea:-ms-input-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form textarea::-ms-input-placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__form textarea::placeholder {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
.popup__agree {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}
.popup__btn {
  border: none;
  height: 40px;
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.popup-cons {
  width: 515px;
  height: 344px;
}
.popup-cons:before {
  content: "";
  position: absolute;
  background-image: url(../img/popup/cons/before-elem.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 199px;
  height: 137.5px;
  left: -3px;
  bottom: -1px;
  z-index: -1;
}
.popup-cons::after {
  content: "";
  position: absolute;
  background-image: url(../img/popup/cons/before-elem2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 231px;
  height: 154.69px;
  right: -48px;
  top: -28px;
  z-index: -1;
}

.popup-write {
  width: 515px;
  height: 600px;
}
.popup-write:before {
  content: "";
  position: absolute;
  background-image: url(../img/popup/write/before-elem.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 241.5px;
  height: 264px;
  left: 0;
  bottom: -2px;
  z-index: -1;
}
.popup-write::after {
  content: "";
  position: absolute;
  background-image: url(../img/popup/write/before-elem2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 239px;
  height: 234px;
  right: 0;
  top: 0;
  z-index: -1;
}