.owl-services__slide {
  position: relative;
  width: 163.24px;
  height: 133.04px;
}
@media (max-width: 980px) {
  .owl-services__slide {
    width: 137.29px;
    height: 111.9px;
  }
}
@media (max-width: 768px) {
  .owl-services__slide {
    width: 208.15px;
    height: 169.64px;
  }
}
@media (max-width: 480px) {
  .owl-services__slide {
    width: 205px;
    height: 167.08px;
  }
}
@media (max-width: 320px) {
  .owl-services__slide {
    width: 135px;
    height: 130px;
  }
}
.owl-services__img {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px;
}
.owl-services__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
.owl-services__title {
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 0 5px;
}
@media (max-width: 980px) {
  .owl-services__title {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .owl-services__title {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .owl-services__title {
    font-size: 14px;
  }
}
.owl-services .owl-dots {
  position: absolute;
  top: -67px;
  left: 0;
}
@media (max-width: 980px) {
  .owl-services .owl-dots {
    top: -57px;
  }
}
@media (max-width: 768px) {
  .owl-services .owl-dots {
    top: -67px;
  }
}
@media (max-width: 480px) {
  .owl-services .owl-dots {
    top: -60px;
  }
}
@media (max-width: 320px) {
  .owl-services .owl-dots {
    top: -45px;
  }
}
.owl-services .owl-dots .owl-dot span {
  border: 1px solid #000000;
  background-color: transparent;
}
.owl-services .owl-dots .owl-dot.active span, .owl-services .owl-dots .owl-dot:hover span {
  background-color: #000000;
}
.owl-services .owl-nav {
  position: absolute;
  top: -70px;
  left: 100px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 980px) {
  .owl-services .owl-nav {
    top: -62px;
  }
}
@media (max-width: 768px) {
  .owl-services .owl-nav {
    display: none;
  }
}
.owl-services .owl-nav [class*=owl-]:hover {
  background: transparent;
}

.owl-specialists {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  max-width: 442px;
  right: 250px;
  top: 175px;
}
@media (max-width: 980px) {
  .owl-specialists {
    max-width: 371px;
    right: 190px;
    top: 150px;
  }
}
@media (max-width: 768px) {
  .owl-specialists {
    position: relative;
    top: initial;
    right: initial;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    margin: 45px 0;
    max-width: none;
  }
}
@media (max-width: 480px) {
  .owl-specialists {
    margin: 30px 0 40px;
  }
}
@media (max-width: 320px) {
  .owl-specialists {
    margin: 30px 0;
  }
}
.owl-specialists__slide {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 98px;
  height: 98px;
}
@media (max-width: 980px) {
  .owl-specialists__slide {
    width: 82.43px;
    height: 82.43px;
  }
}
@media (max-width: 768px) {
  .owl-specialists__slide {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    width: 134px;
    height: 133px;
  }
}
@media (max-width: 480px) {
  .owl-specialists__slide {
    width: 83px;
    height: 81px;
  }
}
@media (max-width: 320px) {
  .owl-specialists__slide {
    width: 71.64px;
    height: 69.91px;
  }
}
.owl-specialists__slide a {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.owl-specialists .owl-nav {
  position: absolute;
  top: 50%;
  left: -5%;
  -webkit-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  transform: translateY(-75%);
  width: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .owl-specialists .owl-nav {
    left: -3%;
    width: 103%;
  }
}
@media (max-width: 480px) {
  .owl-specialists .owl-nav {
    left: -5%;
    width: 106%;
  }
}
@media (max-width: 320px) {
  .owl-specialists .owl-nav {
    left: -7%;
    width: 109%;
  }
}
.owl-specialists .owl-nav [class*=owl-]:hover {
  background: transparent;
}

.owl-result {
  padding-top: 40px;
}
@media (max-width: 320px) {
  .owl-result {
    padding-top: 30px;
  }
}
.owl-result__img {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 187px;
  border-radius: 10px;
}
@media (max-width: 980px) {
  .owl-result__img {
    height: 157.29px;
  }
}
@media (max-width: 768px) {
  .owl-result__img {
    height: 189.27px;
  }
}
@media (max-width: 480px) {
  .owl-result__img {
    height: 136px;
  }
}
@media (max-width: 320px) {
  .owl-result__img {
    height: 163.33px;
  }
}
.owl-result__name {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 12px 0 8px;
}
@media (max-width: 980px) {
  .owl-result__name {
    font-size: 14px;
    margin: 15px 0 10px;
  }
}
@media (max-width: 768px) {
  .owl-result__name {
    font-size: 16px;
    margin: 18px 0 12px;
  }
}
@media (max-width: 480px) {
  .owl-result__name {
    font-size: 14px;
    margin: 15px 0 10px;
  }
}
.owl-result__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .owl-result__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .owl-result__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.owl-result__info p {
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 768px) {
  .owl-result__info p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .owl-result__info p {
    font-size: 12px;
  }
  .owl-result__info p:last-child {
    margin-top: 5px;
  }
}
@media (max-width: 480px) and (max-width: 320px) {
  .owl-result__info p:last-child {
    margin-top: 0;
  }
}
.owl-result__info span {
  font-weight: bold;
}
.owl-result .owl-nav {
  position: absolute;
  top: -24px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50px;
}
.owl-result .owl-nav [class*=owl-]:hover {
  background: transparent;
}
.owl-result .owl-dots {
  position: absolute;
  top: -10px;
  right: 100px;
}
@media (max-width: 768px) {
  .owl-result .owl-dots {
    right: 0;
    margin-top: 0 !important;
  }
}
@media (max-width: 320px) {
  .owl-result .owl-dots {
    position: relative;
    top: initial;
    right: initial;
    margin-top: 40px !important;
  }
}
.owl-result .owl-dots .owl-dot span {
  border: 1px solid #000000;
  background-color: transparent;
}
.owl-result .owl-dots .owl-dot.active span, .owl-result .owl-dots .owl-dot:hover span {
  background-color: #000000;
}

.owl-reviews__slide {
  padding: 25px 25px 31px;
  position: relative;
  background: #EBFAFF;
  border-radius: 15px;
}
@media (max-width: 980px) {
  .owl-reviews__slide {
    padding: 20px 20px 26px;
  }
}
@media (max-width: 768px) {
  .owl-reviews__slide {
    padding: 20px;
  }
}
@media (max-width: 320px) {
  .owl-reviews__slide {
    padding: 30px 15px 20px;
  }
}
.owl-reviews__text {
  font-family: var(--OpenSans);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 980px) {
  .owl-reviews__text {
    font-size: 12px;
  }
}
.owl-reviews__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 980px) {
  .owl-reviews__info {
    margin-top: 15px;
  }
}
.owl-reviews__info a {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 980px) {
  .owl-reviews__info a {
    width: 45.42px;
    height: 45.42px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .owl-reviews__info a {
    margin-right: 10px;
  }
}
.owl-reviews__info h3 {
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}
@media (max-width: 980px) {
  .owl-reviews__info h3 {
    font-size: 14px;
  }
}
.owl-reviews__img {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 185.16px;
  height: 134.84px;
  position: absolute;
  right: 34px;
  bottom: -37px;
}
@media (max-width: 980px) {
  .owl-reviews__img {
    width: 155.74px;
    height: 113.42px;
    right: 0;
  }
}
@media (max-width: 768px) {
  .owl-reviews__img {
    width: 137.78px;
    height: 100.34px;
  }
}
@media (max-width: 320px) {
  .owl-reviews__img {
    width: 229.96px;
    height: 160.03px;
    bottom: initial;
    top: -50%;
    right: initial;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.owl-reviews .owl-stage-outer {
  padding-bottom: 30px;
}
@media (max-width: 320px) {
  .owl-reviews .owl-stage-outer {
    padding: 0;
    padding-top: 110px;
  }
}
.owl-reviews .owl-nav {
  position: absolute;
  top: -65px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50px;
}
.owl-reviews .owl-nav [class*=owl-]:hover {
  background: transparent;
}
.owl-reviews .owl-dots {
  position: absolute;
  top: -50px;
  right: 100px;
}
@media (max-width: 768px) {
  .owl-reviews .owl-dots {
    right: 0;
    margin-top: 0 !important;
  }
}
@media (max-width: 320px) {
  .owl-reviews .owl-dots {
    position: relative;
    top: initial;
    right: initial;
    margin-top: 40px !important;
  }
}
.owl-reviews .owl-dots .owl-dot span {
  border: 1px solid #000000;
  background-color: transparent;
}
.owl-reviews .owl-dots .owl-dot.active span, .owl-reviews .owl-dots .owl-dot:hover span {
  background-color: #000000;
}

.owl-licenses {
  padding-top: 70px;
}
@media (max-width: 480px) {
  .owl-licenses {
    padding-top: 50px;
  }
}
@media (max-width: 320px) {
  .owl-licenses {
    padding-top: 40px;
  }
}
.owl-licenses__slide {
  height: 425px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: #EBFAFF;
  border-radius: 15px;
  padding: 10px 0;
  margin: 0 20px;
}
@media (max-width: 980px) {
  .owl-licenses__slide {
    height: 357px;
  }
}
@media (max-width: 768px) {
  .owl-licenses__slide {
    height: 431px;
  }
}
@media (max-width: 480px) {
  .owl-licenses__slide {
    height: 265px;
    padding: 5px 0;
    margin: 0 10px;
  }
}
@media (max-width: 320px) {
  .owl-licenses__slide {
    height: 175px;
    margin: 0;
  }
}
.owl-licenses__slide a {
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.owl-licenses .owl-nav {
  position: absolute;
  top: -24px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50px;
}
.owl-licenses .owl-nav [class*=owl-]:hover {
  background: transparent;
}
.owl-licenses .owl-dots {
  position: absolute;
  top: -10px;
  right: 100px;
}
@media (max-width: 768px) {
  .owl-licenses .owl-dots {
    right: 0;
    margin-top: 0 !important;
  }
}
@media (max-width: 320px) {
  .owl-licenses .owl-dots {
    position: relative;
    top: initial;
    right: initial;
    margin-top: 40px !important;
  }
}
.owl-licenses .owl-dots .owl-dot span {
  border: 1px solid #000000;
  background-color: transparent;
}
.owl-licenses .owl-dots .owl-dot.active span, .owl-licenses .owl-dots .owl-dot:hover span {
  background-color: #000000;
}

.owl-video-reviews {
  padding-top: 60px;
}
@media (max-width: 980px) {
  .owl-video-reviews {
    padding-top: 50px;
  }
}
@media (max-width: 480px) {
  .owl-video-reviews {
    padding-top: 40px;
  }
}
@media (max-width: 320px) {
  .owl-video-reviews {
    padding-top: 30px;
  }
}
.owl-video-reviews__slide {
  width: 330px;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .owl-video-reviews__slide {
    width: 277px;
    height: 210px;
  }
}
@media (max-width: 768px) {
  .owl-video-reviews__slide {
    width: 334px;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .owl-video-reviews__slide {
    width: 205px;
    height: 200px;
  }
}
@media (max-width: 320px) {
  .owl-video-reviews__slide {
    width: 135px;
    height: 132px;
  }
}
.owl-video-reviews__slide a {
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.owl-video-reviews__slide a:before {
  content: "";
  position: absolute;
  background-image: url(../img/play.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 79px;
  height: 79px;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
}
@media (max-width: 980px) {
  .owl-video-reviews__slide a:before {
    width: 74px;
    height: 74px;
  }
}
@media (max-width: 320px) {
  .owl-video-reviews__slide a:before {
    width: 48px;
    height: 48px;
  }
}
.owl-video-reviews__slide a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
.owl-video-reviews .owl-nav {
  position: absolute;
  top: -24px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50px;
}
.owl-video-reviews .owl-nav [class*=owl-]:hover {
  background: transparent;
}
.owl-video-reviews .owl-dots {
  position: absolute;
  top: -10px;
  right: 100px;
}
@media (max-width: 768px) {
  .owl-video-reviews .owl-dots {
    right: 0;
    margin-top: 0 !important;
  }
}
@media (max-width: 320px) {
  .owl-video-reviews .owl-dots {
    position: relative;
    top: initial;
    right: initial;
    margin-top: 40px !important;
  }
}
.owl-video-reviews .owl-dots .owl-dot span {
  border: 1px solid #000000;
  background-color: transparent;
}
.owl-video-reviews .owl-dots .owl-dot.active span, .owl-video-reviews .owl-dots .owl-dot:hover span {
  background-color: #000000;
}