.title {
  font-family: var(--Geometria);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}
@media (max-width: 980px) {
  .title {
    font-size: 24px;
    padding-bottom: 17px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 18px;
    padding-bottom: 15px;
  }
}
.title_small {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.title_big {
  font-size: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 980px) {
  .title_big {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .title_big {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .title_big {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .title_big {
    font-size: 18px;
  }
}
.title_slider {
  max-width: 876px;
}
@media (max-width: 980px) {
  .title_slider {
    max-width: 730px;
  }
}
@media (max-width: 768px) {
  .title_slider {
    max-width: 490px;
  }
}
@media (max-width: 480px) {
  .title_slider {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media (max-width: 320px) {
  .title_slider {
    max-width: none;
  }
}
.title_noline {
  border: none;
  padding: 0;
}