.info-patients-nav {
  margin-top: -50px;
}
@media (max-width: 768px) {
  .info-patients-nav {
    margin-top: 0;
  }
}

.info-patients {
  padding-bottom: 110px;
}
@media (max-width: 480px) {
  .info-patients {
    padding-bottom: 80px;
  }
}
.info-patients__nav {
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
}
@media (max-width: 480px) {
  .info-patients__nav {
    padding-bottom: 40px;
  }
}
.info-patients__nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #E94F1E;
}
@media (max-width: 768px) {
  .info-patients__nav-desktop {
    display: none;
  }
}
.info-patients__nav-desktop a {
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: var(--Roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  position: relative;
}
.info-patients__nav-desktop a:hover {
  opacity: 0.8;
}
.info-patients__nav-desktop a.active {
  border-bottom: 3px solid #E94F1E;
  margin-bottom: -2px;
  cursor: default;
}
.info-patients__nav-desktop a.active:hover {
  opacity: 1;
}
.info-patients__nav-mob {
  display: none;
}
@media (max-width: 768px) {
  .info-patients__nav-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
  }
  .info-patients__nav-mob select {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 17px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: var(--OpenSans);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
    width: 45%;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .info-patients__nav-mob select {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .info-patients__nav-mob:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 9.47px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    right: 15px;
    background-image: url(../img/arrow-pad.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}
.info-patients__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.info-patients__elem {
  width: 30%;
  margin-bottom: 40px;
  overflow: visible;
}
@media (max-width: 768px) {
  .info-patients__elem {
    width: 45%;
  }
}
@media (max-width: 480px) {
  .info-patients__elem {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .info-patients__elem {
    width: 100%;
    margin-bottom: 20px;
  }
}
.info-patients__img {
  overflow: hidden;
  border-radius: 15px;
}
.info-patients__title {
  background-color: transparent;
  background: rgba(235, 250, 255, 0.6);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: #000000;
  border-radius: 15px;
}