.intro-uslugi {
  background-image: url(../img/uslugi/back.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 50px;
}
@media (max-width: 980px) {
  .intro-uslugi {
    padding-top: 0;
  }
}
.intro-uslugi:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../img/main/services/elem-before.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 274.22px;
  height: 712px;
}
@media (max-width: 980px) {
  .intro-uslugi:before {
    width: 247px;
    height: 643.8px;
    top: 0;
  }
}
@media (max-width: 768px) {
  .intro-uslugi:before {
    width: 124px;
    height: 358.19px;
    bottom: initial;
    top: -14px;
  }
}
@media (max-width: 480px) {
  .intro-uslugi:before {
    display: none;
  }
}
.intro-uslugi__info {
  position: relative;
  padding: 50px 0;
  padding-right: 60px;
  bottom: -100px;
}
@media (max-width: 980px) {
  .intro-uslugi__info {
    bottom: -80px;
    padding: 80px 50px 80px 0;
  }
}
@media (max-width: 768px) {
  .intro-uslugi__info {
    bottom: -70px;
    padding: 80px 50px 80px 0;
    width: 70%;
  }
}
@media (max-width: 480px) {
  .intro-uslugi__info {
    width: 100%;
    padding: 40px 0;
    bottom: -170px;
  }
}
@media (max-width: 320px) {
  .intro-uslugi__info {
    bottom: -120px;
    padding: 35px 0;
  }
}
.intro-uslugi__info:before {
  content: "";
  position: absolute;
  right: 0;
  width: 2000%;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 480px) {
  .intro-uslugi__info:before {
    right: -100%;
  }
}
.intro-uslugi__text {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.intro-uslugi__btns {
  margin-top: 30px;
  position: relative;
  z-index: 2;
}
.intro-uslugi .title {
  position: relative;
  z-index: 2;
}
.intro-uslugi_not-before:before {
  content: none;
}